body {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    margin-bottom: 30px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    background-color: #E8F1F2;
    overflow: hidden;
    transition: 0.3s;
}

.overlay-content {
    padding: 70px 20px 20px 20px;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    color:white;
}

#home-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E8F1F2;
    padding: 0 20px; 
    }

#home-container h1 {
    font-size: 6vw;
    margin: 0;
    border: none;
    z-index: 1;
}

@media (max-width: 768px) {
    #home-container h1 {
        font-size: 0.8em;  /* Smaller size for mobile */
    }
}

#home-container p {
    font-size: 2.5em;
    z-index: 1;
    margin-top: -0.5em;
}

#home-container p span::before {
    content: "coding";
    animation: animate infinite 10s;
    padding-left: 10px;
}

@keyframes animate {
    0%, 18% {
        content: "AI Engineer";
        opacity: 1;
    }
    19%, 20% {
        opacity: 0;
    }
    20%, 38% {
        content: "Cyclist";
        opacity: 1;
    }
    39%, 40% {
        opacity: 0;
    }
    40%, 58% {
        content: "Software Developer";
        opacity: 1;
    }
    59%, 60% {
        opacity: 0;
    }
    60%, 78% {
        content: "Photographer";
        opacity: 1;
    }
    79%, 80% {
        opacity: 0;
    }
    80%, 98% {
        content: "Data Scientist";
        opacity: 1;
    }
    99%, 100% {
        opacity: 0;
    }
}